@font-face {
    font-family: 'Radio Canada';
    src: url('RadioCanada-Regular.woff2') format('woff2'),
        url('RadioCanada-Regular.woff') format('woff'),
        url('RadioCanada-Regular.svg#RadioCanada-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radio Canada';
    src: url('RadioCanada-Italic.woff2') format('woff2'),
        url('RadioCanada-Italic.woff') format('woff'),
        url('RadioCanada-Italic.svg#RadioCanada-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Radio Canada';
    src: url('RadioCanada-Italic.woff2') format('woff2'),
        url('RadioCanada-Italic.woff') format('woff'),
        url('RadioCanada-Italic.svg#RadioCanada-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Radio Canada';
    src: url('RadioCanada-Light.woff2') format('woff2'),
        url('RadioCanada-Light.woff') format('woff'),
        url('RadioCanada-Light.svg#RadioCanada-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radio Canada';
    src: url('RadioCanada-BoldItalic.woff2') format('woff2'),
        url('RadioCanada-BoldItalic.woff') format('woff'),
        url('RadioCanada-BoldItalic.svg#RadioCanada-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Radio Canada';
    src: url('RadioCanada-Bold.woff2') format('woff2'),
        url('RadioCanada-Bold.woff') format('woff'),
        url('RadioCanada-Bold.svg#RadioCanada-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radio Canada';
    src: url('RadioCanada-LightItalic.woff2') format('woff2'),
        url('RadioCanada-LightItalic.woff') format('woff'),
        url('RadioCanada-LightItalic.svg#RadioCanada-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Radio Canada';
    src: url('RadioCanada-Medium.woff2') format('woff2'),
        url('RadioCanada-Medium.woff') format('woff'),
        url('RadioCanada-Medium.svg#RadioCanada-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radio Canada';
    src: url('RadioCanada-Regular.woff2') format('woff2'),
        url('RadioCanada-Regular.woff') format('woff'),
        url('RadioCanada-Regular.svg#RadioCanada-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radio Canada';
    src: url('RadioCanada-SemiBoldItalic.woff2') format('woff2'),
        url('RadioCanada-SemiBoldItalic.woff') format('woff'),
        url('RadioCanada-SemiBoldItalic.svg#RadioCanada-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Radio Canada';
    src: url('RadioCanada-MediumItalic.woff2') format('woff2'),
        url('RadioCanada-MediumItalic.woff') format('woff'),
        url('RadioCanada-MediumItalic.svg#RadioCanada-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Radio Canada';
    src: url('RadioCanada-SemiBold.woff2') format('woff2'),
        url('RadioCanada-SemiBold.woff') format('woff'),
        url('RadioCanada-SemiBold.svg#RadioCanada-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

