@font-face {
    font-family: 'Get Schwifty';
    src: url('GetSchwifty-Regular.woff2') format('woff2'),
        url('GetSchwifty-Regular.woff') format('woff'),
        url('GetSchwifty-Regular.svg#GetSchwifty-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

